{
    http_port 80
    https_port 443
}

# Dashboards / Infra
kuma.home {
  tls internal
  reverse_proxy 127.0.0.1:3001
}

dozzle.home {
  tls internal  
  reverse_proxy 127.0.0.1:9998
}

homarr.home {
  tls internal
  reverse_proxy 127.0.0.1:7575
}

# Media Apps
radarr.home {
  tls internal
  reverse_proxy 127.0.0.1:7878
}

sonarr.home {
  tls internal
  reverse_proxy 127.0.0.1:8989
}

prowlarr.home {
  tls internal
  reverse_proxy 127.0.0.1:9696
}

bazarr.home {
  tls internal
  reverse_proxy 127.0.0.1:6767
}

overseerr.home {
  tls internal
  reverse_proxy 127.0.0.1:5055
}

# Apache (whatever you host there)
site.home {
  tls internal
  reverse_proxy 127.0.0.1:8085
}
