{
    http_port 80
    https_port 443
}

(internal_tls) {
  tls internal
}

# Basic Auth snippet
# Generate hashes with: caddy hash-password --plaintext "your_password"
(protect) {
    basicauth {
        jarad {$BASIC_AUTH_HASH}
    }
}

# Dashboards / Infra
kuma.home {
  import internal_tls
  # import protect
  reverse_proxy 127.0.0.1:3001
}

dozzle.home {
  import internal_tls  
  import protect
  reverse_proxy 127.0.0.1:9998
}

homarr.home {
  import internal_tls
  import protect
  reverse_proxy 127.0.0.1:7575
}

# Media Apps
radarr.home {
  import internal_tls
  reverse_proxy 127.0.0.1:7878
}

sonarr.home {
  import internal_tls
  reverse_proxy 127.0.0.1:8989
}

prowlarr.home {
  import internal_tls
  reverse_proxy 127.0.0.1:9696
}

bazarr.home {
  import internal_tls
  reverse_proxy 127.0.0.1:6767
}

seerr.home {
  import internal_tls
  reverse_proxy 127.0.0.1:5055
}

# Apache (whatever you host there)
site.home {
  import internal_tls
  reverse_proxy 127.0.0.1:8085
}

# Pi-Hole
pihole.home {
  import internal_tls
  reverse_proxy 127.0.0.1:8081
}
