TZ=America/New_York

# Optional but recommended for better metadata throughput
TMDB_API_KEY=

# Optional: tune crawler/resource usage
BITMAGNET_DHT_CRAWLER_SCALING_FACTOR=10
BITMAGNET_PROCESSOR_CONCURRENCY=1
