services:
  qbittorrent:
    volumes:
      - ${HOST_DOWNLOADS}:/data/torrents

  qbit_manage:
    volumes:
      - ${HOST_DOWNLOADS}:/data/torrents

  sonarr:
    volumes:
      - ${HOST_DOWNLOADS}:/data/torrents
      - /srv/appdata/recycle-bin/sonarr:/trash:rw
      - /mnt/usb1/tv:/mnt/usb1/tv
      - /mnt/usb2/tv:/mnt/usb2/tv
      - /mnt/usb3/tv:/mnt/usb3/tv
      - /mnt/usb4/tv:/mnt/usb4/tv

  radarr:
    volumes:
      - ${HOST_DOWNLOADS}:/data/torrents
      - /srv/appdata/recycle-bin/radarr:/trash:rw
      - /mnt/usb1/movies:/mnt/usb1/movies
      - /mnt/usb2/movies:/mnt/usb2/movies
      - /mnt/usb3/movies:/mnt/usb3/movies
      - /mnt/usb4/movies:/mnt/usb4/movies
 
