services:
  pihole:
    container_name: infra_dns_pihole
    image: pihole/pihole:latest
    ports:
      - 53:53/tcp
      - 53:53/udp
      # Default HTTP port
      - ${PIHOLE_WEB_PORT}:80/tcp
    environment:
      TZ: ${TZ}
    volumes:
      - /srv/appdata/pihole/etc-pihole:/etc/pihole
      - /srv/appdata/pihole/etc-dnsmasq.d:/etc/dnsmasq.d
    restart: unless-stopped