services:
  pihole:
    image: pihole/pihole:latest
    container_name: infra_dns_pihole
    hostname: pihole
    environment:
      - TZ=${TZ}
      - WEBPASSWORD=${PIHOLE_WEBPASSWORD}
      - FTLCONF_LOCAL_IPV4=${PIHOLE_LOCAL_IPV4}
      # Upstream DNS (keep simple for now)
      - PIHOLE_DNS_= "1.1.1.1;1.0.0.1"
    volumes:
      - /srv/appdata/pihole/etc-pihole:/etc/pihole
      - /srv/appdata/pihole/etc-dnsmasq.d:/etc/dnsmasq.d
    ports:
      - ${PIHOLE_WEB_PORT}:80/tcp
      - 53:53/tcp
      - 53:53/udp
      - "${PIHOLE_WEB_PORT:-8081}:80/tcp"
    restart: unless-stopped